.chat-side
  .chat-side__user
    .chat-side__user__box
      %p.chat-side__user__box__name
        = current_user.name
      %ul.chat-side__user__box__icons
        %li.chat-side__user__box__icons__new
          = link_to new_group_path, class: "chat-side__user__box__icons__new" do
            = icon('far', 'edit', class: "icons__btn__new")
        %li.chat-side__user__box__icons__edit
          = link_to edit_user_path(current_user), class: "chat-side__user__box__icons__edit" do
            = icon('fas', 'cog', class: 'icons__btn__edit')

  .chat-side__lists
    - current_user.groups.each do |group|
      .chat-side__lists__group
        = link_to group_messages_path(group), class: "chat-side__lists__group" do
          %p.chat-side__lists__group__name
            = group.name
          %p.chat-side__lists__group__message
            = group.show_last_message