.chat-side
  .chat-side__user
    .chat-side__user__box
      %p.chat-side__user__box__name
        q
      %ul.chat-side__user__box__icons
        %li.chat-side__user__box__icons__new
          = link_to "#", class: "chat-side__user__box__icons__new" do
            = icon('far', 'edit', class: "icons__btn__new")
        %li.chat-side__user__box__icons__edit
          = link_to "#", class: "chat-side__user__box__icons__edit" do
            = icon('fas', 'cog', class: 'icons__btn__edit')

  .chat-side__lists
    .chat-side__lists__group
      = link_to "#", class: "chat-side__lists__group" do
        %p.chat-side__lists__group__name
          グループ名
        %p.chat-side__lists__group__message
          まだメッセージがありません
    .chat-side__lists__group
      = link_to "#", class: "chat-side__lists__group" do
        %p.chat-side__lists__group__name
          グループ名
        %p.chat-side__lists__group__message
          まだメッセージがありません
    .chat-side__lists__group
      = link_to "#", class: "chat-side__lists__group" do
        %p.chat-side__lists__group__name
          グループ名
        %p.chat-side__lists__group__message
          まだメッセージがありません
    .chat-side__lists__group
      = link_to "#", class: "chat-side__lists__group" do
        %p.chat-side__lists__group__name
          グループ名
        %p.chat-side__lists__group__message
          まだメッセージがありません
    .chat-side__lists__group
      = link_to "#", class: "chat-side__lists__group" do
        %p.chat-side__lists__group__name
          グループ名
        %p.chat-side__lists__group__message
          まだメッセージがありません