.chat-main
  .chat-main__group
    .chat-main__group__left
      %p.chat-main__group__left__group-name
        = @group.name
      %p.chat-main__group__left__group-list
        Member : 
        - @group.users.each do |user|
          = user.name
    .chat-main__group__right
      = link_to "Edit", edit_group_path(@group) , class: "edit-btn"

  .chat-main__list
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__input
        = f.text_field :content, class: 'input-message', placeholder: 'type a message'
        .input-image
          = f.label :image, class: 'input-image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'file-btn'
      = f.submit 'send', class: 'submit-btn'